<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CreateRecord | E-Hospital</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link href="css/login.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

</head>

<body>
  <div class="mainclass">
    <div class="wrapper">
      <div class="title">Create Record</div>
      <form id="upload-file" method="post" enctype="multipart/form-data">
        <div class="upload">
          <label for="imageUpload" class="upload-label">
            Choose csv file
          </label>
          <input type="file" name="file" id="imageUpload" required accept=".csv">
        </div>
      </form>

      <form id="form-data" onsubmit="submit()">
        <div class="field">
          <input type="text" name="PatientName" required>
          <label>Patient Name</label>
        </div>
        <div class="field">
          <input type="text" name="Gender" required>
          <label>Gender</label>
        </div>
      </form>
      <div class="alart">

      </div>
      <div>
        <button class="submitBtn" onclick="submit()">Predict & submit</button>
      </div>
    </div>
  </div>


  <div>
  </div>
  <script>
    function submit() {
      var file_data = new FormData($('#upload-file')[0]);
      var form_data = new FormData($('#form-data')[0]);

      if (file_data.get('file').size == 0) {
        $(".alart").html("<b>please upload a file!</b>")
        return;
      }
      if (!form_data.get('PatientName') || !form_data.get('Gender')) {
        $(".alart").html("<b>please input PatientName or Gender!</b>")
        return;
      }

      var isSick = false;
      // Make prediction by calling api /predict
      $.ajax({
        headers: {
          'Access-Control-Allow-Origin': '*'
        },
        method: 'POST',
        url: 'http://localhost:5001/predict',
        data: file_data,
        contentType: false,
        cache: false,
        processData: false,
        async: true,
        success: function (data) {
          // Get and display the result
          console.log('Success!', eval('(' + data+ ')'));
          const normal = eval('(' + data+ ')').Normal
          isSick = !(normal.length>0)
          form_data = {
            PatientName: form_data.get('PatientName'),
            Gender: form_data.get('Gender'),
            isSick,
          }
          console.log(form_data)
          $.post({
            url: '/Create_Record',
            data: form_data,
            async: true,
            success: function (data) {
              // Get and display the result
              console.log('Success!', data);
              window.history.go(-1)
            },
          });
        },
        error: function() {
          console.log('errerer')
        },
      });
      
      return true
    }
  </script>
</body>
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:02 GMT -->
<!-- window.history.go(-1) -->

</html>